.idea/*
*.idea
web/static/media/
web/static/admin/
bedrockstone_v2/local_settings.*
bedrockstone_v2/local_settings.
*.sqlite3
nhup.out
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
db.sqlite3
*.pyc
.vscode/
webserver/
.DS_Store