.idea/*
*.idea
web/static/media/
web/static/admin/
bedrockstone_v2/local_settings.*
bedrockstone_v2/local_settings.
*.sqlite3


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
