{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Bedrock Stone Austin's premier rock yard</title>
<meta charset="utf-8">
<meta name = "format-detection" content = "telephone=no" />
<!-- TODO Make nice favicon.ico
<link rel="icon" href="{% static 'images/favicon.ico' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
-->
<link rel="stylesheet" href="{% static 'css/camera.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/stuck.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.1.1.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/superfish.js' %}"></script>
<script src="{% static 'js/jquery.equalheights.js' %}"></script>
<script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/tmStickUp.js' %}"></script>
<script src="{% static 'js/jquery.ui.totop.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/camera.js' %}"></script>
{% block head_scripts %}{% endblock %}
<!--[if lt IE 9]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">


<![endif]-->
</head>
<body>
<!--==============================
              header
=================================-->
<section id="stuck_container">
<header>
<!--==============================
            Stuck menu
=================================-->
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h1>
          <a href="{% url 'index' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo alt">
          </a>
        </h1>
        <div class="navigation ">
          <nav>
            <ul class="sf-menu">
             <li><a href="{% url 'index' %}">Home</a></li>
             <li><a href="{% url 'about' %}">About</a></li>
             <li><a href="{% url 'products' %}">Products</a></li>
             <li><a href="{% url 'services' %}">Services</a></li>
             <li><a href="{% url 'jobs' %}">Jobs</a></li>
             <li><a href="{% url 'contact' %}">Contact</a></li>
           </ul>
          </nav>

          <div class="clear"></div>
        </div>
       <div class="clear"></div>
      </div>
   </div>
  </div>
</header>
</section>
{% block content %}
{% endblock %}
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">
         <div class="copyright">Bedrock Stone &amp; Design &copy; <span id="copyright-year"></span> All Rights Reserved
          </div>
      </div>
    </div>
  </div>
</footer>
</body>

</html>