{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load cropping %}
{% block head_scripts %}
<link href="{% static 'js/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block header_title %}{{ category.name }}{% endblock %}
{% block header_image_src %}{% cropped_thumbnail category "cropped" height=165 %}{% endblock %}
{% block content_blurb%}
    <strong>{% if category.short_description %} {{ category.short_description | linebreaks }}{% endif %}</strong>
    {{ category.long_description| linebreaks }}
{% endblock %}
{% block main_content %}
{% for category in category.children.all%}
        <div class="grid_3">
            <div class="box">
                <div class="box_title maxheight2 ta__center"><a href='{% url 'category' category.slug %}'>{{ category.name }}</a></div>
                        <a href="{% url 'category' category.slug %}"><img src="{% cropped_thumbnail category "cropped" height=165  %}" /></a>
                        <div class="box_bot">
                            <div>{% if category.short_description != None %} {{ category.short_description }}{% endif %}</div>
                        </div>
            </div>
        </div>


    {% endfor %}
    {% for product in category.product_set.all%}
        <div class="grid_3">
            <div class="box">
            <div class="maxheight"><div class="boxinner">
                <div class="box_title maxheight2 ta__center">
                    {% if product.short_description %}
                        <a title="{{ product.name }}" href='{% url 'productDetail' product.slug %}'>{{ product.name }}</a>
                    {% else %}
                        <a title="{{ product.name }}" href="{{ product.image.url }}" class="fancybox">{{ product.name }}</a>
                    {% endif %}
                </div>
                {% if product.short_description %}
                    <a title="{{ product.name }}" href='{% url 'productDetail' product.slug %}'>
                        <img src="{% cropped_thumbnail product "cropped" height=165 %}" />
                    </a>
                {% else %}
                    <a title="{{ product.name }}" href="{{ product.image.url }}" class="fancybox">
                        <img src="{% cropped_thumbnail product "cropped" height=165 %}" />
                    </a>
                {% endif %}
                <div class="box_bot">
                    {% if product.retail_price %}
                        ${{ product.retail_price | stringformat:"1.2f" }}
                    {% endif %}
                </div>
            </div></div>
            </div>
        </div>


    {% endfor %}
     <!-- Preload it -->
    <div style="display: none;">
    {% for product in category.product_set.all%}
       
        <img style="display: none" src="{{ product.image.url }}" />
                
    {% endfor %}
    </div>
{% endblock %}
{% block end_scripts %}
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script type="text/javascript">
        $(function(){
           $('.fancybox').fancybox();
        });
    </script>
{% endblock %}