{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% block header_title %}Contact Us{% endblock %}
{% block header_image_src %}{% static 'images/contact_us.jpg' %}{% endblock %}
{% block content_blurb %}
     <div class="grid_5">

               <address class="address1">
               <dl>
                   <dt><strong>
                       Bedrock Stone &amp; Design
                       3700 RR 620 North,<br>
                       Austin Tx, 78734</strong>
                   </dt>
                   <dd><span>Telephone:</span>512-266-8080</dd>
                   <dd><span>E-mail:</span> <strong><a href="#" class="link-1">contact@bedrockstoneanddesign.com</a></strong></dd>
               </dl>
               </address>

       </div>
{% endblock %}