{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load cropping %}
{% block head_scripts %}
<link href="{% static 'js/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block header_title %} Product Coverage Calculators{% endblock %}

{% block content_blurb%}
   <strong>Use the tools below to calculate your product needs</strong>
   <div>
       <h3>Aggregates</h3>
       <p>
            <label for="aggregate_feet">Square Feet</label>
            <input id='aggregate_feet' value="140">
       </p>
       <p>
           <label for='aggregate_depth'>Depth </label>
           <input id='aggregate_depth' value="1" /> Inches
       </p>
       <p>
            You need <span id='aggregate_results'>0.5</span> Yards to cover 
            <span id='aggregate_feet_span'>140</span> square feet with aggregate at a depth 
            of <span id='aggregate_depth_span'>1</span> inch
       </p>
   </div>
   <script type='text/javascript'>
        (function() {
  /**
   * Decimal adjustment of a number.
   *
   * @param {String}  type  The type of adjustment.
   * @param {Number}  value The number.
   * @param {Integer} exp   The exponent (the 10 logarithm of the adjustment base).
   * @returns {Number} The adjusted value.
   */
  function decimalAdjust(type, value, exp) {
    // If the exp is undefined or zero...
    if (typeof exp === 'undefined' || +exp === 0) {
      return Math[type](value);
    }
    value = +value;
    exp = +exp;
    // If the value is not a number or the exp is not an integer...
    if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
      return NaN;
    }
    // If the value is negative...
    if (value < 0) {
      return -decimalAdjust(type, -value, exp);
    }
    // Shift
    value = value.toString().split('e');
    value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));
    // Shift back
    value = value.toString().split('e');
    return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
  }

  // Decimal round
  if (!Math.round10) {
    Math.round10 = function(value, exp) {
      return decimalAdjust('round', value, exp);
    };
  }
  // Decimal floor
  if (!Math.floor10) {
    Math.floor10 = function(value, exp) {
      return decimalAdjust('floor', value, exp);
    };
  }
  // Decimal ceil
  if (!Math.ceil10) {
    Math.ceil10 = function(value, exp) {
      return decimalAdjust('ceil', value, exp);
    };
  }
})();


        document.getElementById('aggregate_feet').addEventListener('keyup')

        function calculateAggregate(){
            let feet = document.getElementById('aggregate_feet').value;
            let depth = document.getElementById('aggregate_depth').value;
            let result = feet * depth / 280;
            result = Math.round10(result);

            document.getElementById('aggregate_feet_span').value = feet;
            document.getElementById('aggregate_depth_span').value = depth;
            document.getElementById('aggregate_results').value = depth;


        }
   </script>

{% endblock %}