{% extends 'web/base.html' %}
{% load cropping %}
{% load i18n%}
{% load staticfiles %}
{% block head_scripts %}
<!--[if (gt IE 9)|!(IE)]><!-->
<script src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>
<!--<![endif]-->
<script>
 $(document).ready(function(){


       /////////////////////// camera with owl carousel //////////////////////////

        var $owl = $("#owl"),
            $camera = $('#camera_wrap');
       /* carousel */
        $owl.owlCarousel({
            items : 4, //10 items above 1000px browser width
            itemsDesktop : [995,3], //5 items between 1000px and 901px
            itemsDesktopSmall : [767, 3], // betweem 900px and 601px
            itemsTablet: [700, 3], //2 items between 600 and 0
            itemsMobile : [479, 3], // itemsMobile disabled - inherit from itemsTablet option
            navigation : true,
            pagination :  true
        });

       $camera.camera({
            loader: false,
            pagination: true,
            minHeight: '500',
            thumbnails: false,
            height: '46.875%',
            caption: true,
            navigation: false,
            fx: 'mosaic',
            time: 4000,
            onStartTransition:function(){
              var ind = $camera.find('.camera_pag_ul>li.cameracurrent').index();
              (ind < 0)&&(ind = 0);

              $('.item', $owl)
                .removeClass('active')
                .eq(ind).addClass('active');

              $owl
                .data('owlCarousel')
                .goTo(ind);
            }
          });

        $owl.find('.item a').click(function(){
          var $this = $(this),
              ind = $this.parents('.owl-item').index();
          $('.camera_pag_ul>li').eq(ind).click();
          return false;
        })

        /////////////////////// end of camera with owl carousel //////////////////////////

  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});

   $("#owl1").owlCarousel({
            items : 4, //10 items above 1000px browser width
            itemsDesktop : [995,3], //5 items between 1000px and 901px
            itemsDesktopSmall : [767, 2], // betweem 900px and 601px
            itemsTablet: [700, 2], //2 items between 600 and 0
            itemsMobile : [479, 1], // itemsMobile disabled - inherit from itemsTablet option
            navigation : false,
            pagination :  false
        });
  });
</script>
 <style type="text/css">
 .camera_pag_ul span{
     display: none;
 }

 </style>
{% endblock %}
{% block content %}
<div class="slider_wrapper ">
  <div id="camera_wrap" class="">
    {% for item in galleryItems %}
    <div data-src="{% cropped_thumbnail item 'large' %}"></div>

    {% endfor %}
  </div>
  <div class="car_div">
    <div id="owl">
      {% for item in galleryItems %}
        <div class="item"><a href="#"> <img src="{% cropped_thumbnail item "preview"  %}"></a></div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="page1_block">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h2>{% trans "Austin's premier rock supplier!" %}</h2>
        <strong>{% blocktrans %}Bedrock Stone &amp; Design is the headquarters for the largest selection of stone in Central Texas.
            With four convenient locations, both North and South Austin customers are able to benefit from wide
            selection of product. At Bedrock, we take great pride in being the "Stone of Choice", not only for
            commercial contractors, but designers and retail customers.{% endblocktrans %}</strong>
      </div>
    </div>
  </div>
</div>
<!--=====================
          Content
======================-->
<section class="content">
  <div class="container">
    <div class="row">
      {% for item in content_items %}
        <div class="grid_3">
            <div class="box">
              <div class="maxheight">
                <div class="box_title"><a href="{% url 'content' item.slug %}">{{ item.name }}</a></div>
                <a href="{% url 'content'  item.slug%}"><img src="{% cropped_thumbnail item 'cropped' %}" alt="{{ item.name }}"></a>
                <div class="box_bot">{{ item.short_description }}</div>
              </div>
            </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="grid_12">
        <h3>{% trans "Our Locations" %}</h3>
        <div id="owl1">
            {% for location in locations %}
                <div class="item">
                <a href="{% url 'locations' location.slug %}">
                <img class="img_inner" src="//maps.googleapis.com/maps/api/staticmap?zoom=14&size=200x200&markers={{ location.address |iriencode }},{{ location.city }}{{ ' '|iriencode }}{{ location.zip }}">
                </a>
                <div class="text1"><a href="{% url 'locations' location.slug %}">{{ location.name }}</a></div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}