{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load i18n %}
{% block header_title %}Jobs at Bedrock Stone &amp; Design{% endblock %}
{% block header_image_src %}{% static 'images/jobs.jpg' %}{% endblock %}
{% block content_blurb %}
{% if jobs  %}
    <div class="row">
    <ul>
        {% for job in jobs %}
            <li>
                <a href="{% url 'job' job.slug%}">
                <h3>{{job.name  }}</a></h3>
                <strong>
                    {{job.short_description | linebreaks}}
                </strong>
                </a>
                <div>
                <a href="{%url 'job' job.slug %}">more info...</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>

{% else %}
    <p>{% trans "We currently have no openings. Please check back later." %}</p>
{% endif %}
{% endblock %}