{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load i18n %}
{% block header_title %}{{ job.name }}{% endblock %}
{% block header_image_src %}{% static 'images/jobs.jpg' %}{% endblock %}
{% block content_blurb %}
 {{ job.long_description | linebreaks }}
 <p>
     {% blocktrans %}
     To apply for this job, please send an email with your resume (in word or pdf format) to
     <a href="mailto:jobs@bedrockstoneanddesign.com">jobs@bedrockstoneanddesign.com</a>
     {% endblocktrans %}
 </p>
{% endblock %}