{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% block header_title %}Jobs at Bedrock Stone &amp; Design{% endblock %}
{% block header_image_src %}{% static 'images/jobs.jpg' %}{% endblock %}
{% block content_blurb %}
{% if jobs  %}
    <div class="row">
        {% for job in jobs %}
            <h3>{{ job.name }}</h3>
            <div>
                {{ job.description | linebreaks }}
                <div>
                    To apply for this job, please send an email with your resume (in word or pdf format) to
                    <a href="mailto:jobs@bedrockstoneanddesign.com">jobs@bedrockstoneanddesign.com</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% else %}
    <p>We currently have no openings. Please check back later.</p>
{% endif %}
{% endblock %}