{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% block main_content %}

    {% for category in categories %}
       <div class="grid_3">
            <div class="box">
                <div class="maxheight">
                    <div class="box_inner">
                        <div class="box_title"><a href='{% url 'category' category.slug %}'>{{ category.name }}</a></div>
                        <a href="{% url 'category' category.slug %}"><img src="{{ MEDIA_URL }}{{ category.image }}" alt="{{ category.name }}"></a>
                        <!--
                        <div class="box_bot">
                            <div></div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
       </div>
{% endfor %}

{% endblock %}