{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load i18n %}
{% block header_title %}{% trans "Contact Us" %}{% endblock %}
{% block head_scripts %}
<link href="{% static 'js/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block header_image_src %}{% static 'images/contact_us.jpg' %}{% endblock %}
{% block content_blurb %}
    {% blocktrans with  yard_count=object_list.length %}
    Bedrock Stone &amp; Design has {{ yard_count }} convenient locations to serve you in the Austin, Tx area. <br />
    Call our headquarters at <b><a href="tel:512-266-8080">512-266-8080</a></b>, email us at
    <a href="mailto:contact@bedrockstoneanddesign.com">contact@bedrockstoneanddesign.com</a>, or ask for us by department.
    {% endblocktrans %}
    <ul style="padding-top: 1em; overflow: auto;">
     {% for member in staff %}
            <li><h4 style="display: inline">{{ member.name }}</h4> - {{ member.title }}<br />
                <a href="mailto:{{ member.email }}">{{ member.email }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
{% block main_content %}
     <div class="row">
     <h3>{% trans "Locations" %}</h3>
               {% for location in object_list %}
               <div class="grid_3">
               <div class="box">
                    <div class="box_inner">
                        <div class="box_title">{{ location.name }}</div>
                        <a href="//maps.google.com?q={{ location.address |iriencode }},{{ location.city }}{{ ' '|iriencode }}{{ location.zip }}" target="google">
                                <img src="//maps.googleapis.com/maps/api/staticmap?zoom=14&size=600x400&markers={{ location.address |iriencode }},{{ location.city }}{{ ' '|iriencode }}{{ location.zip }}">
                        </a>
                        <div class="box_bot">
                           <address class="address1">
                            <a href="//maps.google.com?q={{ location.address |iriencode }},{{ location.city }}{{ ' '|iriencode }}{{ location.zip }}" target="google">
                                   {{ location.street }}<br />
                                   {{ location.city }},TX {{ location.zip }}<br /></a>
                           </address>
                            <a href="tel:{{ location.phone_number}}">{{ location.phone_number }}</a>
                        </div>
                   </div>
               </div>
               </div>
              {% endfor %}

     </div>

{% endblock %}
{% block end_scripts %}
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script type="text/javascript">
        $(function(){
           $('.fancybox').fancybox();
        });
    </script>
{% endblock %}