{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load i18n %}
{% block header_title %}{% trans "Contact Us" %}{% endblock %}
{% block head_scripts %}
<link href="{% static 'js/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block header_image_src %}{% static 'images/contact_us.jpg' %}{% endblock %}
{% block content_blurb %}
    {% blocktrans %}Bedrock Stone &amp; Design has 4 convenient locations to serve you in the Austin, Tx area. <br />
        Please direct all inquries and questions to one of the following.
        {% endblocktrans %}
    <ul style="padding-top: 1em; overflow: auto;">
     {% for member in staff %}
            <li><h4 style="display: inline">{{ member.name }}</h4> {% if member.title %} - {{ member.title }}{% endif %}<br />
                {% if member.email %}
                <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
{% block main_content %}
     <div class="row">
               {% for location in object_list %}
               <div class="grid_3">
               <div class="box">
                    <div class="box_inner" style="padding: .3rem">
                        <div class="box_title"><a href="{% url 'locations' location.slug %}">{{ location.name }}</a></div>
                        <a href="//maps.google.com?q={{ location.address |iriencode }},{{ location.city }}{{ ' '|iriencode }}{{ location.zip }}" target="google">
                                <img src="//maps.googleapis.com/maps/api/staticmap?zoom=14&size=600x400&markers={{ location.address |iriencode }},{{ location.city }}{{ ' '|iriencode }}{{ location.zip }}">
                        </a>
                        <div class="box_bot">
                           <address class="address1">
                            <a href="//maps.google.com?q={{ location.address |iriencode }},{{ location.city }}{{ ' '|iriencode }}{{ location.zip }}" target="google">
                                   {{ location.street }}<br />
                                   {{ location.city }},TX {{ location.zip }}<br /></a>
                           </address>
                            <a href="tel:{{ location.phone_number}}">{{ location.phone_number }}</a>
                        </div>
                   </div>
               </div>
               </div>
              {% endfor %}

     </div>

{% endblock %}
{% block end_scripts %}
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script type="text/javascript">
        $(function(){
           $('.fancybox').fancybox();
        });
    </script>
{% endblock %}