{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load cropping %}
{% load i18n %}
{% block head_scripts %}
<link href="{% static 'js/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header_title %}{{ location.name }}{% endblock %}
{% block header_graphic %}
    <a href="//maps.google.com?q={{ location.address |iriencode }},{{ location.city }}{{ ' '|iriencode }}{{ location.zip }}" target="google">
        <img src="//maps.googleapis.com/maps/api/staticmap?zoom=14&size=200x200&markers={{ location.address |iriencode }},{{ location.city }}{{ ' '|iriencode }}{{ location.zip }}">
    </a>
    <div class="box_bot">
     <a href="//maps.google.com?q={{ location.address |iriencode }},{{ location.city }}{{ ' '|iriencode }}{{ location.zip }}" target="google">
        <address>
            {{ location.address }}<br />{{location.city }}, TX, {{ location.zip }}
        </address>
     </a>
    <a href="tel:+1{{ location.phone_number }}">{{ location.phone_number }}</a>
    </div>
    </a>
{% endblock %}
{% block content_blurb %}
    <strong>
        {% if location.short_description %}
            {{ location.short_description | linebreaks }}
        {% endif %}
    </strong>
    {{ location.long_description| linebreaks }}
    <h3>Senior Staff for {{ location.name }}</h3>
    <p>
        {% for staffMember in location.staff.all %}
            {{ staffMember.name }} - {{ staffMember.title }} <br />
        {% endfor %}
    </p>

{% endblock %}
{% block main_content %}
<h3>{% blocktrans with location.name as location_name %} A few pictures of {{ location_name }} {% endblocktrans %}</h3>
{% for picture in location.locationpicture_set.all %}
    <div class="grid_3">
            <div class="box">
                <div class="maxheight">
                    <div class="box_inner">
                        <a class="fancybox" href='{% cropped_thumbnail picture 'cropped' width=800 %}'><img src="{% cropped_thumbnail picture "cropped" height=165  %}" /></a>
                        <img src="{% cropped_thumbnail picture 'cropped' width=800 %}" style="display: none;" />  
                    </div>
                </div>
            </div>
    </div>
{% endfor %}
{% endblock %}
{% block end_scripts %}
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script type="text/javascript">
        $(function(){
           $('.fancybox').fancybox();
        });
    </script>
{% endblock %}