{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load cropping %}

{% load i18n %}
{% block head_scripts %}
<link href="{% static 'js/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block header_title %}{{ product.name }}{% endblock %}
{% block image_grid %}
    <div class="grid_9" style="margin-left: 0">
        <div class="box" style="padding:7px;margin:0 1em 0 0; ">
            <a title="{{ product.name }}" href="{{ product.image.url }}" class="fancybox">
                <img src="{% cropped_thumbnail product "cropped" width=690 %}" />
            </a>
        </div>
    </div>
{% endblock %}
{% block content_blurb %}
 <strong>{{ product.short_description | linebreaks }}</strong>
 {{ product.long_description | safe }}
 {% endblock %}
 {% block main_content %}
   
   {% if product.productimage_set.all %}
   <h3>{{ product.more_images_text }}</h3>
   {% for product_image in product.productimage_set.all %}
   <div class="grid_3">
            <div class="box">
                <div class="maxheight">
                    <div class="boxinner">
                        <div class="box_title"></div>
                        <a title="{{ product.name }}" href="{{ product_image.image.url }}" class="fancybox">
                            <img src="{% cropped_thumbnail product_image "cropped" height=165 %}" />
                        </a>
                        <div class="box_bot"></div>
                    </div>
                </div>
            </div>
    </div>
   {% endfor %}
   {%endif%}
 {% endblock %}
 {% block end_scripts %}
 
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script type="text/javascript">
        $(function(){
           $('.fancybox').fancybox();
        });
    </script>
    <img style="display: none" src="{{ product.image.url }}" />
{% endblock %}