{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% block header_title %}Products{% endblock %}
{% block header_image_src %}{% static 'images/products.JPG' %}{% endblock %}
{% block content_blurb %}
<p>
    Bedrock Stone &amp; Design is proud to feature the largest selection of stone products in the Austin, Tx
    area. You can browse just a few of them here.
</p>
{% endblock %}
{% block main_content %}
    {% for category in categories %}
       <div class="grid_4">
            <div class="box">
                <div class="maxheight" style="height: 460px;">
                    <div class="box_inner">
                        <div class="box_title">{{ category.name }}</div>
                        <img src="{{ MEDIA_URL }}{{ category.image }}" alt="">
                        <div class="box_bot">
                            <div>{{ category.description |linebreaks }}</div>
                            <a href="{% url 'category' category.slug %}" class="btn">View Products</a>
                        </div>

                    </div>
                </div>
            </div>
           <!--
        <a href="full-gallery-2.html" class="lightbox"><img src="{{ MEDIA_URL }}{{ category.image }}" alt=""></a>
        <div class="text1"><a href="#">{{ category.name }}</a></div>
        {{ categories.description }}
        -->
      </div>
{% endfor %}

{% endblock %}