{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load cropping %}
{% block head_scripts %}
<style type="text/css">
    #form label{
        display: inline-block;
        width:80px;
        
        
    }
    #form label:active{
        content: ":"
    }
    #map{
        height: 600px;
        width: 600px;

    }
    #results{
        font-weight: bold;
    }
 </style>

{% endblock %}
{% block content %}
  <div class="container" style="min-height: 350px">
    <div class="row">
      <div class="grid_12" >
        <h2>Shipping Rates</h2>
        <p>To calculate shipping costs, first select the location product will be shipped from,
            then enter your address.
        </p>
      </div>
    </div>
    <div id='form' class="row">
        <div class="grid_4">
            <p>
            <label for="location">Yard</label>
            <select id="location" onchange="formValueChanged()">
                <option value="">SELECT YARD</option>
                {% for location in locations %}
                    <option value="{{ location.address }},{{ location.city }}, TX {{ location.zip }}">{{ location.name }}</option>
                {% endfor %}
            </select>
            </p>
            <p>
            <label for="truckType">Truck Type</label>
            <select id="truckType" onchange="formValueChanged()">
                <option value="">SELECT TRUCK TYPE</option>
                <option value="DUMP">Dump Truck</option>
                <option value="FLAT">Flatbed</option>
            </select>
            </p>
            <p>
            <label for="toStreet">Street</label>
            <input onkeypress="formValueChanged()" type="text" id="toStreet" placeholder="Street Address" />
            </p>
            <p>
            <label for="formValueChanged()">Zip</label>
            <input type="number" id="toZip" placeholder="Zip Code" />
            </p>
            <p>
            <input id="calculateButton" type="button" value="Calculate Shipping Price" onclick="calculate();" disabled="disabled" />
            </p>
            <span id="results"></span>
        </div>
        <div class="grid_4">
            <div id="map">Map Loading</div>
            
        </div>
        </div>
</div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEznB690IUUa_57YBKvlCm49axsKYC7PY&callback=initMap"></script>
<script>
    var myStuff = {
        zones: 
            [
            {% for rate in rates %}
                {ZoneID: '{{rate.lookup_id}}', MaxMilage:{{rate.max_milage}}, cost:{DUMP:{{rate.dump_rate}},FLAT:{{rate.flatbed_rate}}}},
            {% endfor %}
            ]
    };
    function formValueChanged(){
        
        resetResults();
        if(
            document.getElementById('location').value != '' &&
            document.getElementById('truckType').value != '' &&
            document.getElementById('toStreet').value != '' 
        ){
            document.getElementById('calculateButton').removeAttribute('disabled');
        }else{
            document.getElementById('calculateButton').disabled = "disabled";
        }
        
            
    }
    function resetResults(){
        document.getElementById('results').innerHTML = "";
    }
    function initMap(){
        

        myStuff.map = new google.maps.Map(document.getElementById('map'), {
            center: {lat:30.3975305,lng:-97.92643059999999},
            zoom: 10
            });
        
        myStuff.service = new google.maps.DistanceMatrixService();
        myStuff.directionsService = new google.maps.DirectionsService();
        myStuff.directionsRenderer = new google.maps.DirectionsRenderer();
        myStuff.directionsRenderer.setMap(myStuff.map);

        myStuff.geoCoder = new google.maps.Geocoder();
        var options = document.getElementById('location').options;
        for(var i = 0; i < options.length; i++){
            option = options[i];
            if(option.value == "") continue;
            addPinFor(option);
        }
    }
    function addPinFor(option){
        myStuff.geoCoder.geocode( { 'address': option.value}, function(results, status) {
                var marker = new google.maps.Marker({
                    map: myStuff.map,
                    position: results[0].geometry.location,
                    title: option.text,
                    label: option.text.replace(/[^0-9]/g, ''),
                    animation: google.maps.Animation.DROP,
                    
                });
               marker.addListener('click',function(marker){
                    option.selected = 'selected';
                    if(myStuff.fromAddress){
                        calculate();
                    }
               });
            });
    }
    
    function calculate(){
        
        var toStreet = document.getElementById('toStreet').value;
        var toZip = document.getElementById('toZip').value;
        var toAddress = toStreet + ',' + toZip;
        var resultsElement = document.getElementById('results');
        resultsElement.innerHTML = "";
        var fromAddress = document.getElementById('location').value;
        myStuff.fromAddress = fromAddress;
        myStuff.service.getDistanceMatrix({
            'origins': [fromAddress],
            'destinations':  [toAddress],
            'unitSystem': google.maps.UnitSystem.IMPERIAL,
            'travelMode': 'DRIVING'
        }, function(response, status){
           if(!response.rows || !response.rows[0].elements || response.rows[0].elements[0].status == "NOT_FOUND"){
               resultsElement.innerHTML = "Oops! We can't find your address. Please double check that it is entered properly.'";
               return;
           }
           var milageText = response.rows[0].elements[0].distance.text;
           var miles = milesFromMeters(response.rows[0].elements[0].distance.value);

           document.getElementById('results').innerHTML = "Distance: " + milageText;
           var zoneMilage = myStuff.zones.find(o => o.MaxMilage >= miles);
           var type = document.getElementById("truckType").value;
           if(zoneMilage && zoneMilage.cost[type]){
               cost = "$" + zoneMilage.cost[type];
           }else
           {
               cost = "Call for quote";
           }
           var zoneId = zoneMilage.ZoneID + type.substr(0,1);
           resultsElement.innerHTML = "Zone: " + zoneId + "<br />" + 
                "Distance: " + milageText + "<br />" + " Price:" + cost
           
        
           
        });
        var route = {
            origin: fromAddress,
            destination: toAddress,
            travelMode: 'DRIVING'
        };
        myStuff.directionsService.route(route, function(result, status){
            if(status === "OK"){
                myStuff.directionsRenderer.setDirections(result);
            }
        });
    }
    function milesFromMeters(meters){
        return meters * 0.000621371;
    }
    
</script>

{% endblock %}