{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load cropping %}
{% block head_scripts %}
<style type="text/css">
  .special{
    border: dashed 4px black;
    margin: 1rem;
    padding: 1rem;
    background: white;
    width: 80%;
    text-align: center;
    font-size:xx-large;
  }
  .special:hover{
    border: dashed 4px #2dabdf;
    cursor: pointer;
  }
  .special h3{
    color: #5ab645;
    font-size: 75px;
    margin-bottom: .5em;
    line-height: 55px;
  }
  .special strong{
    line-height: 30px;
  }
  .special .pink{
    color: deeppink;
  }
  .special p{
    font-size: large;
    margin-top:.5em;
  }
  .special span a{
    font-size: medium;
    margin-top:1em;
  }
  .special .valid_through{
    border:solid 1px black;
    width: 45%;
    font-size: small;
    margin: 0 auto;
    text-align: center;
  }
</style>
{% endblock %}
{% block content %}
  <div class="container" style="min-height: 350px">
    <div class="row">
      <div class="grid_12" >
        <h2>Bedrock Specials</h2>
        <p>Not only does Bedrock Stone &amp; Design offer fair every day pricing, we
          run specials regularly. Check them out here.
        </p>
        <div class='special' onclick="window.location='/products/building_stones/'">
          <h3>$20 off Drystack</h3>
          <strong>$20 off each ton of drystack stone.</strong>
          <br />
          <p>
            Hurricane Harvey will likely cause significant runoff damage to landscapes in our area. 
            To help out our community, 
            Bedrock Stone will be discounting all drystack products by $20 a ton.
          </p>
          <div class="valid_through">
            Offer valid through 9-30-2017
          </div>
          
        </div>
        <!--
        <div class='special' onclick="window.location='/products/building_stones/'">
          <h3 class="pink">Weekly Special</h3>
          <strong>$10 off each TON, Buff Lueders Patio</strong>
          <br />
          <p>
              Normal price, $295, discounted price, $285. Minimum purchase, 1 Ton.
          </p>
          <div class="valid_through">
            Offer valid through 7-29-2017
          </div>
          -->
        </div>
        <div style='display:none;' class='special' onclick="window.location='/product/old_chicago_brick'">
          <h3>Chicago Brick</h3>
          <strong>$0.25 off, Chicago Brick</strong>
          <br />
          <p>
              Normal price, $1.50 each, discounted price, $1.25.
          </p>
          <div class="valid_through">
            Offer valid through 7-15-2017
          </div>
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}