{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load cropping %}
{% block head_scripts %}
<style type="text/css">
  .special{
    border: dashed 4px black;
    margin: 1rem;
    padding: 1rem;
    background: white;
    width: 80%;
    text-align: center;
    font-size:xx-large;
  }
  .special:hover{
    border: dashed 4px #2dabdf;
    cursor: pointer;
  }
  .special h3{
    color: #5ab645;
    font-size: 75px;
    margin-bottom: .5em;
    line-height: 55px;
  }
  .special strong{
    line-height: 30px;
  }
  .special .pink{
    color: deeppink;
  }
  .special p{
    font-size: large;
    margin-top:.5em;
  }
  .special span a{
    font-size: medium;
    margin-top:1em;
  }
  .special .valid_through{
    border:solid 1px black;
    width: 45%;
    font-size: small;
    margin: 0 auto;
    text-align: center;
  }
</style>
{% endblock %}
{% block content %}
  <div class="container" style="min-height: 350px">
    <div class="row">
      <div class="grid_12" >
        <h2>Bedrock Specials</h2>
        <p>Not only does Bedrock Stone &amp; Design offer fair every day pricing, we
          run specials regularly. Check them out here.
        </p>
        {% for special in specials %}
        <div class='special' onclick="window.location='{{special.slug}}'">
          {% if special.header_color %}
          <h3 style="color: {{ special.header_color }}">{{ special.name }}</h3>
          {% else %}
          <h3>{{ special.name }}</h3>
          {% endif %}
          <strong>{{special.short_description}}</strong>
          <br />
          <p>
           {{special.long_description}}
          </p>
          <div class="valid_through">
            Offer valid through {{special.end_date}}
          </div>
          
        </div>
        {% endfor %}
        
        </div>
      </div>
    </div>
  </div>
{% endblock %}