{% extends 'web/content_page.html' %}
{% load staticfiles %}
{% load i18n %}
{% block header_title %}{% trans "Thanks!" %}{% endblock %}
{% block head_scripts %}
<link href="{% static 'js/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block header_image_src %}{% static 'images/contact_us.jpg' %}{% endblock %}
{% block content_blurb %}
    <p>
        Thank you for contacting us. A sales representitive will contact you shortly. You can call
        us directly at 512-266-8080. 
         
    </p>
    <p>
        While you're waiting, give us a like Facebook and keep yourself informed on our monthly and
        weekly specials.
    </p>
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbedrockaustin%2F&width=200&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId=485924734773789" width="200" height="80" style="border:none;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
{% endblock %}