

 /**************************
*
*	GENERAL
*
**************************/


.slider_wrapper {
	position: relative;
	text-align: left;
	z-index: 10;
}

.camera_target_content {
	overflow: visible !important;

}

.camera_wrap {
	display: none;
	overflow: visible !important;
	z-index: 0;
	margin-bottom: 0 !important;
}


.camera_wrap img {
	max-width: 10000px;
}

.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
}

.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
    background: url('/static/images/blank.gif');
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url('/static/images/camera-loader.gif?588c0f845463') no-repeat center;
	background: rgba(255, 255, 255, 0.9) url('/static/images/camera-loader.gif?588c0f845463') no-repeat center;
	border: 1px solid #ffffff;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}

.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_commands > .camera_stop {
	display: none;	
}


.slide_wrapper .camera_prev{
	background: url('/static/images/prevnext_bg.png') 0 0 repeat;
	width: 70px;	
	top: 0 !important;
	height: auto !important;
	bottom: 0;
	left: -80px;
	display: block;
	position: absolute;
	opacity: 1 !important;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.slide_wrapper .camera_prev>span {
	background: url('/static/images/prev.png') center 0 no-repeat;
	top: 50%;
		
	margin-top: -10px;
	position: absolute;
	display: block;
	height: 20px;
	left: 0;
	right: 0;
}

.slide_wrapper .camera_next>span {
	background: url('/static/images/next.png') center 0 no-repeat;
	top: 50%;
	margin-top: -10px;
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	height: 20px;
}



.slide_wrapper .camera_next {
	background: url('/static/images/prevnext_bg.png') 0 0 repeat;
	width: 70px;	
	top: 0  !important;
	bottom: 0;
	height: auto !important;

	right: -80px;
	display: block;
	position: absolute;
	opacity: 1 !important;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.camera_thumbs_cont {
	z-index: 900;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}


.camera_thumbs_cont > div {
	float: left;
	width: 100%;

}
.camera_thumbs_cont ul {
	background: url('/static/images/thumb_bg.png') 0 0 repeat;
	overflow: hidden;
	position: relative;
	width: 100% !important;
	margin: 0 !important;
	margin-left: 0px !important;
	left: 0% !important;
	margin-top: 0px !important;
	text-align: center;
	padding: 10px 0 10px;
}
.camera_thumbs_cont ul li {
	background-color: transparent;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.camera_thumbs_cont ul li+li  {
	margin-left: 11px !important;
}
.camera_thumbs_cont ul li > img {
	cursor: pointer;
	opacity: 1 !important;
	vertical-align:bottom;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}





.camera_thumbs_cont ul li:hover, .camera_thumbs_cont ul li.cameracurrent {
	opacity: 0.5;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
	text-align: right;
}



.caption {
	position: absolute;
	right: 0;
	top: 97px;
	bottom: 0;
	width: 338px;
	color: #939393;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.caption p {
	margin-bottom: 27px;
}

.caption img {
	border-radius: 3px;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.caption img:hover {
	opacity: 0.5;
}

.caption .rate {
	margin-bottom: 31px;
	line-height: 15px;
	padding-top: 18px;
	padding-bottom: 21px;
	padding-left: 23px;
	margin-right: 77px;
	color: #78787b;
	border-top: 1px dashed #cbd0d7;
	border-bottom: 1px dashed #cbd0d7;
	background: url('/static/images/rate_grad.png') 0 1px repeat-x;
}

.stars {
	margin-right: 18px;
	overflow: hidden;
	display: inline-block;
}

.stars .emp {
	background-position: right 0;
}

.stars span {
	display: block;
	float: left;
	background: url('/static/images/stars.png') 0 0 no-repeat;
	height: 14px;
	width: 15px;
}

.stars span+span {
	margin-left: 4px;
}

/**************************
*
*	COLORS & SKINS
*
**************************/


/*


.camera_pag  {
	display: block;
	position: absolute;
	bottom: 24px;
	right: 50%;
	margin-right: -470px;
	overflow: hidden;
	z-index: 999;
	font-size: 0;
	line-height: 0;
	text-align: center;

}

.camera_pag_ul {
 	overflow: hidden;


}

.camera_pag ul li {
	float: left;
}

.camera_pag ul li+li {
	margin-left: 9px;
}

.camera_pag ul li span {
	background: url('/static/images/pagination.png') 0 0 no-repeat;
	display: block;
	width: 14px;
	height: 14px;
	overflow: hidden;
	background-color: transparent !important;
	color: transparent;
	text-indent: -100px;
}

.camera_pag ul li:hover span, .camera_pag ul li.cameracurrent span {
	cursor: pointer;
	background-position: right 0;
}

*/



.camera_prev, 
.camera_next {
	display: block;
	position: absolute;
	width: 32px;
	height: 68px;
	left: -82px;
	top: 50%;
	margin-top: -47px;
	cursor: pointer;
	z-index: 999;
	background: url('/static/images/prevnext.png?588c0f845463') 0 0 no-repeat;
	transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.camera_next {
	left: auto;
	right: -82px;
	background-position: right 0;
}

.camera_prev:hover,
.camera_next:hover  {
	opacity: 0.5;
}



.car_div {
	position: absolute;
	bottom: 10px;
	z-index: 900;
	background: url('/static/images/car_bg.png?588c0f845463') 0 0 repeat;
	border-radius: 5px;
	width: 300px;
	left: 50%;
	margin-left: -150px;
}

#owl {
	z-index: 1;
	position: relative;
	padding: 0 30px;
}


.owl-item {
	float: left;
}

#owl .item {
	text-align: center;
	padding: 10px 6px;
}

#owl .item a {
	display: block;
}

#owl .item img {
	border-radius: 2px;
	border: 2px solid #00b9ff;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

#owl .item.active img,
#owl .item a:hover img {
	border-color: #fff;
}

#owl .owl-wrapper-outer {
	overflow: hidden;
}

#owl  .owl-controls {
}


.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}

#owl .owl-prev, #owl .owl-next {
	cursor: pointer;
	position: absolute;
	background: url('/static/images/prevnext.png?588c0f845463') 0 0 no-repeat;
	display: block;
	height: 7px;
	left: 17px;
	width: 4px;
	top: 50%;
	margin-top: -4px;
	overflow: hidden;
	text-indent: -999px;
}

#owl .owl-next {
	right: 17px;
	left: auto;
	background-position: right 0;
}

#owl .owl-next:hover,
#owl .owl-prev:hover {
	opacity: 0.5;
}


#owl1 {
	overflow: hidden;
	position: relative;
	padding-right: 0px;
	margin: -31px -10px 0px;

}


#owl1 .owl-item {
	float: left;
	width: 100%;
}


#owl1 .item {
	overflow: hidden;
	padding: 0 10px;
	position: relative;
}

.box1 {
	text-align: center;
	background-color: #fff;
	padding: 5px 5px 9px;
	position: relative;
}

.box1 img {
	width: 100%;
}

.box1:after {
    position: absolute;
    background: url('/static/images/box_shadow.png?588c0f845463') center 0 no-repeat;
    height: 31px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    left: 0;
    right: 0;
    top: 100%;
    content: '';
}

.box1+.box1 {
	margin-bottom: 20px;
	margin-top: 24px;
}

.owl_number {
	font: 300 24px/48px 'Roboto Condensed', sans-serif;
	width: 52px;
	position: relative;
	height: 52px;
	text-align: center;
	border-radius: 500px;
	color: #fff;
	background-color: #b6b6b6;
	margin: -21px auto 7px;
}



#owl1 .owl-wrapper-outer {
	overflow: hidden;
	padding-top: 56px;
}


#owl1 .owl-prev, #owl1 .owl-next {
	cursor: pointer;
	position: absolute;
	background: url('/static/images/prevnext1.png?612730892695') 0 0 no-repeat;
	display: block;
	height: 36px;
	right: 45px;
	width: 31px;
	top: 0;
	overflow: hidden;
	text-indent: -999px;
}

#owl1 .owl-next {
	right: 10px;
	left: auto;
	background-position: right bottom;
}

#owl1 .owl-next:hover {
	 background-position: right 0;
}
#owl1 .owl-prev:hover {
	background-position: 0 bottom;
}

.owl_banner {
	text-align: center;
	padding: 0 40px;
}

.owl_banner .text1 {
	padding-bottom: 8px;
}
#stuck_container {
	/*background: url('/static/images/header_bg.png') 0 0 repeat-x #00b6ff;
    background: url('/static/images/header_bg.png') 0 0 repeat-x #CCC;*/
    background: url('/static/images/header_background.png?0a03de7eb3b0') bottom left repeat-x;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		z-index: 999;
    /*background-color: #636363;*/
}

.isStuck {
		background-color: #fff;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
}


.isStuck .menuBox {
	margin: 0;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
/*
@media only screen and (min-width: 979px) {

.isStuck h1 a{
	width: 332px;
	height: 86px;
}

.isStuck h1 a img {
	width: 180px;
}


.isStuck h1 {
	top: 14px !important;
}


.isStuck .navigation, .isStuck .header_socials {
	position: relative;
	top: -20px;
}



	.isStuck {
	}


}
*/
@media only screen and (max-width: 979px) {

	#stuck_container {
		position: relative !important;
		box-shadow: none;
		
	}
	.pseudoStickyBlock {
		height: 0 !important;
	}

	.isStuck {
	}
}

@media only screen and (max-width: 767px) {

	.isStuck {    

}
}